<!--<div *ngFor="let e of Movies;">{{e.title}}</div>-->
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<!-- <div class="">
    <a *ngFor="let e of PopularMovies.results" click ="getID(e.id)" routerLink="movie_detail" routerLinkActive="active">{{e.title}}{{e.id}}</a></div> -->

    <!-- <div class="w3-sidebar w3-bar-block w3-light-grey" style="width:25%">
        <a *ngFor="let movie of Movies.results"
        [class.selected]="movie === selectedMovie"
        (click)="onSelect(movie)" class="w3-bar-item w3-button w3-border-bottom">{{movie.title}}</a>
        <app-movie-detail [movie]="selectedMovie"></app-movie-detail>
      </div>  -->


<!--aaaaa-->
      <!-- <div id="main-container">
        <div id="sidebar" style="width:25%">
            <a *ngFor="let movie of Movies.results"
        [class.selected]="movie === selectedMovie"
        (click)="onSelect(movie)" class="w3-bar-item w3-button w3-border-bottom">{{movie.title}}</a>
        </div>
        <div id="content"><app-movie-detail [movie]="selectedMovie"></app-movie-detail></div>
    </div> -->
<!--aaaa-->


<div class="container-fluid p-0">
    <div class="vertical-menu light-grey" style="width:25%">
        <a *ngFor="let movie of Movies.results;let isFirst = first"
        [class.selected]="movie === selectedMovie"
        [ngClass]="{'active': movie === selectedMovie}"
        (click)="onSelect(movie)" class="border-bottom " id="btn">{{movie.title}}</a>
      </div>
</div>
<div style="margin-left:25%"><app-movie-detail [movie]="selectedMovie"></app-movie-detail></div>
